.new-feed {
    position: relative;
    width: 670px;
    border: 1px solid #EBEEF0 ;
    border-top: none;
    margin-left: 250px;
}
.top-nf h3 {
    margin: 0;
}
.top-nf {
    padding: 10px 20px;
}
.fixed-h {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 670px;
    box-sizing: border-box;
    border-bottom: 1px solid #EBEEF0;
    height: 50px;
    background-color: #fff;
}
/* POST */
.post {
    margin-top: 50px;
}