.post-item {
    cursor: pointer;
    border-bottom: 1px solid #EBEEF0 ;
    padding: 10px 20px;
}
.post-item:hover {
    background-color: #F7F7F7;
}
.post-l {
    position: relative;
}
.post-l img{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-r img {
    box-sizing: border-box;
    width: 560px;
    height: 315px;
    object-fit: cover;
    border: 1px solid #E8F5FE;
    border-radius: 20px;
}
.post-r strong {
    margin-right: 10px;
}
.post-r p {
    word-wrap: break-word;
}
/* React POST */
.react-bar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: min-content min-content min-content min-content;
}
.react-bar i {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;    
}
.react-bar i:last-child {
    margin-right: 0;
}
.react-bar div:hover {
    color: #1DA1F2;
}

.react-item:last-child {
    margin-right: 100px;
}
.react-item:hover > i {
    background-color: #E1EEF7;
}

/* Account info */
.acc-info {
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -120px;
    background-color: #fff;
    box-sizing: border-box;
    width: 300px;
    height: 220px;
    box-shadow: 0 0 5px 2px lightgray;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}
.top-info  p {
    margin: 0;
}
.btn-if-follow {
    cursor: pointer;
    width: 100px;
    padding: 12px 0;
    border-radius: 20px;
    color: #fff;
    border: none;
    background-color: #1DA1F2;
}
.btn-if-follow:hover {
    background-color: #CA2055;

}
.btn-if-follow::after {
    content: "Following";
}
.btn-if-follow:hover::after {
    content: "Unfollow";
}