hr {
    border: none;
    border-top: 1px solid;
}
.center {
    text-align: center;
}
.mx-auto {
    display: block;
    margin: 0 auto;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.text-muted {
    color: #6c757d!important;
}

/* Flexbox and Grid */
.d-flex {
    display: flex;
}
.d-flex-column {
    flex-direction: column;
}
.align-bl {
    align-items:center;
}
.align-btw {
    align-content: space-between ;
}
.js-btw {
    justify-content: space-between;
}
.js-evenly {
    justify-content: space-evenly;
}
.js-center {
    justify-content: center;
}
.js-around {
    justify-content: space-around;
}
.justify-content-end {
    justify-content: flex-end;
}

/* Button */
.btn {
    height: 50px;
    border-radius: 25px;
    outline: none;
}
.btn-twitter {
    border: 1px solid #1DA1F2;
    background-color: #1DA1F2;
    color: #fff; 
}
.btn-twitter:hover {
    border: 1px solid #1A91DA;
    background-color: #1A91DA;
}
.btn-primary {
    border: 1px solid #0D6EFD;
    background-color: #0D6EFD;
    color: #fff;
}
.btn-primary:hover {
    background-color: #0B5ED7;   
}
.btn-outline-primary {
    border: 1px solid #0D6EFD;
    background-color: #fff;
    color: #0D6EFD;
}
.btn-outline-primary:hover {
    background-color: #E8F5FE;
}
.btn-primary:disabled {
    border: 1px solid #8ED0F9;
    background-color: #8ED0F9;
}
.btn-outline-twitter {
    border: 1px solid #1DA1F2;
    background-color: #fff;
    color: #1DA1F2; 
}
.btn-outline-twitter:hover {
    border: 1px solid #1A91DA;
    background-color: #DAE8F2;
}
.btn-outline-dark {
    border: 1px solid black;
    background-color: #fff;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: black;
}
.btn-outline-secondary {
    color: #6C757D;
    border: 1px solid #6C757D;
    background-color: #fff;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6C757D;
}

/* Width */
.w-300 {
    width: 300px;
}
.w-180 {
    width: 180px;
}
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
/* Form Control */
.form-floating {
    position: relative;
}
.form-control {
    font-size: 1.1rem;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #C4CFD6;
    border-radius: 3px;
    outline: none;
    height: 60px;
    padding: 30px 10px 8px;
}
.form-control::placeholder {
    color: transparent;
}
.form-control + .form-label {
    box-sizing: border-box;
    width: 100%;
    color: #757575;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 100%;
    transition: top .1s, font-size .1s;
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    font-size: 80%;
    top: 8px;
}
.form-control:focus + .form-label {
    color: #1DA1F2;
}
.form-control:focus {
    border: 1px solid #1DA1F2;
    box-shadow: 0px 0px 0px 1px #1DA1F2;
}
/* Select */
.form-select {
    font-size: 1.1rem;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #C4CFD6;
    border-radius: 3px;
    outline: none;
    height: 60px;
    padding: 30px 5px 8px;
}
.form-select + .form-label {
    box-sizing: border-box;
    /* width: 100%; */
    color: #757575;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    position: absolute;
    top: 8px;
    left: 0;
}
.form-select:focus + .form-label {
    color: #1DA1F2;
    font-size: 80%;
    top: 8px;
}
.form-select:focus {
    border: 1px solid #1DA1F2;
    box-shadow: 0px 0px 0px 1px #1DA1F2;
}
/* POP UP */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.show {
    visibility: visible !important;
    animation: fadeIn .5s;
}
.disabled {
    border: 1px solid #8ED0F9;
    background-color: #8ED0F9;
    pointer-events: none;
    cursor: default;
}
.hidden {
    visibility: hidden;
}



/* TEXT */
.short-text {
    display: none;
}
/* Responsive */
@media only screen and (max-width: 1500px) {
    .side-bar-item strong, .trend-bar {
        display: none;
    }
    .side-bar {
        width: 70px !important;
    }
    #new-feed, .explore-area {
        margin-left: 70px !important;
    }
    .trigger {
        display: none;
    }
    .full-text {
        display: none;
    }
    .short-text {
        display: inline;
    }
}