.search-result {
    visibility: hidden;
    text-align: center;
    position: fixed;
    width: 350px;
    top: 45px;
    background-color: #fff;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #E3E7E9;
    z-index: 1;
}